# Kitchen Dreams: An Examination of the Tri-State Area Cuisine in New York Using Census and Yelp Data.

![Rooftop Restaurant NYC](https://www.therooftopguide.com/rooftop-news/Bilder/rooftop-restaurant-nyc-230-1.jpg)

## Table of Contents
1. [Abstract](#abstract)
2. [Introduction](#introduction)
3. [Research Approach](#research-approach)
4. [Data Preparation](#data-preparation)
5. [Exploratory Data Analysis (EDA)](#eda)
6. [Prepped Data Review](#prepped-data-review)
7. [Investigative Analysis & Results](#investigative-analysis-results)
8. [Conclusions](#conclusions)

## Abstract <a id="abstract"></a>

This research investigates the complex interactions of economic, demographic, and culinary variables in the New York Tri-State region. We use Yelp data and Census information to unearth the stories behind the restaurants in the area because we are curious in how different cultures and economic levels affect dining preferences. Our study questions explore the following topics: how geography affects Yelp reviews; how economic status and restaurant kinds are correlated; how demographic considerations affect restaurant success; where are the best places for new businesses to open; and how popularity, pricing, and ratings relate to each other.

Using the Yelp API for restaurant details and Census.gov for demographic and economic data, the process entails a thorough collection of data. Our group works together to do univariate, bivariate, and multivariate analyses using Python modules such as Beautiful Soup, Pandas, Matplotlib, and Seaborn. The goal of the investigative analysis is to discover economic elements influencing culinary preferences, provide recommendations for aspiring restaurateurs based on current trends, and shed light on the relationship between restaurant ratings and demographic composition.

We put a high priority on data integrity throughout the project, carry out in-depth exploratory data analysis (EDA), and apply data preparation strategies. The results include a thorough examination of how socioeconomic variables influence food choices in the New York Tri-State region, a sophisticated grasp of the culinary environment, and practical advice for restaurant owners. This project exemplifies how to combine extensive data sources with Python's analytical powers to unravel the complexity of the regional food scene.

## Introduction <a id="introduction"></a>

This project explores the thriving culinary and eating scene in the Tri-State area of New York. It's about learning how the diverse range of cultures and economic circumstances in the area affects where and what we consume. We are going to learn the narratives behind the restaurants in the area by examining demographic data and Yelp ratings. Consider it an exploration of how the local food scene is shaped by the people and their backgrounds as you go across the areas of New York and New Jersey.

1. **Geographical Impact on Yelp Ratings:**
   - How does the specific location within the Tri-State area influence a restaurant's Yelp rating, especially concerning particular cuisines?
  
2. **Economic Status and Restaurant Types:**
   - Is there a discernible correlation between the economic status of a neighborhood and the types of restaurants it hosts?

3. **Demographic Influences on Restaurant Success:**
   - To what extent do demographic factors, such as ethnic composition, contribute to the success of various restaurant types?

4. **Optimal Locations for New Restaurants:**
   - What are the current trends, and where are the optimal locations for opening new restaurants based on these trends?

5. **Cuisine Pricing, Ratings, and Popularity:**
   - How is the pricing of different cuisines related to their Yelp ratings and overall popularity in the Tri-State area?

In exploring these questions, we aim to uncover the unique narratives behind the diverse restaurants that populate the Tri-State area, offering insights into how the local food scene is intricately woven into the fabric of its people and their backgrounds.

## Expected Results

- Information on how restaurant ratings and demographic composition relate to one another.
- Determining the economic variables affecting taste in food.
- Suggestions for potential restaurateurs regarding the locations of new businesses.

## Timetable

**Week 1:** Gathering data and integrating APIs.

**Week 2:**Â Cleaning data and conducting preliminary analysis.

**Week 3:** Comprehensive data visualization and analysis.

**Week 4:** Report assembly and delivery.

## Importance & Inspiration for Research

Restaurant owners, food fans, and culinary specialists will all gain from this study's insightful analysis of the sociodemographically driven gastronomic tastes of the New York Tri-State region.

## Research Approach <a id="research-approach"></a>

#### Data Collection:

- **Yelp API:** To gather data on restaurant ratings, cuisine types, pricing, and customer reviews from the New York Tri-State area. [Yelp API Documentation](https://docs.developer.yelp.com/docs/fusion-intro)
  - Restaurants will be of different cuisine categories, must have mixed ratings on Yelp, and a '$$' price tag.
  
- **Census.gov (CSV):** To obtain demographic and economic data for the same region, enabling a comprehensive analysis of how these factors relate to food preferences and restaurant success. [Census Data for New York Tri-State Area](https://www.census.gov/quickfacts/fact/table/bergencountynewjersey,richmondcountynewyork,bronxcountynewyork,queenscountynewyork,kingscountynewyork,newyorkcountynewyork/PST045222)

  - **Data Cleaning File:**
    - Created an Excel file for data cleaning, containing essential variables such as rating, price, zip_code, categories, cuisine, and borough. This file facilitated the initial stages of data preparation and ensured consistency across relevant attributes.

### Data Overview

For several counties in the New York Tri-State region, the dataset offered includes population estimates, demographic statistics, housing specifics, economic indicators, and more. Some of the categories in which the data is distributed include age and sex distribution, housing features, race and Hispanic origin, health statistics, economic indicators, and transportation information.

## Key Highlights

- **Population Estimates (2022):** The dataset includes population estimates for July 1, 2022, along with the estimates base from April 1, 2020, allowing for a comparison of population changes over time.

- **Age and Sex Distribution:** Information on the percentage of persons under 5 years, under 18 years, and 65 years and over, providing insights into the age demographics of the population.

- **Race and Hispanic Origin:** Detailed breakdowns of the population based on race, including percentages for White alone, Black or African American alone, Asian alone, and Hispanic or Latino.

- **Housing Details:** Data on the number of housing units, owner-occupied housing unit rate, median value of owner-occupied housing units, and more, offering a comprehensive view of housing characteristics.

- **Economic Indicators:** Insights into the labor force participation rate, accommodation and food services sales, health care and social assistance receipts, transportation and warehousing receipts, retail sales, and per capita income.

- **Transportation:** Mean travel time to work for workers aged 16 years and over, providing information on commuting patterns.

- **Income & Poverty:** Median household income and per capita income, both adjusted for inflation, along with the percentage of persons in poverty.

This dataset will serve as a crucial foundation for our analysis, allowing us to explore correlations and patterns related to restaurant success and preferences in the New York Tri-State area.

In [ ]:
from src.restaurant_analysis.rest_analysis import Scrape
#a = Scrape('https://www.census.gov/quickfacts/fact/table/richmondcountynewyork,bronxcountynewyork,queenscountynewyork,kingscountynewyork,newyorkcountynewyork/RHI825222#RHI825222')
b = Scrape('https://www.census.gov/quickfacts/fact/table/richmondcountynewyork,bronxcountynewyork,queenscountynewyork,kingscountynewyork,newyorkcountynewyork/RHI825222#RHI825222')

In [ ]:
# Create pandas dataframe object from html reader
# Race = a.reader()
dfboroughs = b.reader()
dfboroughs

,Population,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,"Population Estimates, July 1, 2022, (V2022)","î¡î ¿ 491,133","î¡î ¿ 1,379,946","î¡î ¿ 2,278,029","î¡î ¿ 2,590,516","î¡î ¿ 1,596,273"
1,"Population estimates base, April 1, 2020, (V2022)","î¡î ¿ 495,749","î¡î ¿ 1,472,656","î¡î ¿ 2,405,464","î¡î ¿ 2,736,075","î¡î ¿ 1,694,250"
2,"Population, percent change - April 1, 2020 (es...",î¡î ¿ -0.9%,î¡î ¿ -6.3%,î¡î ¿ -5.3%,î¡î ¿ -5.3%,î¡î ¿ -5.8%
3,"Population, Census, April 1, 2020",495747,1472654,2405464,2736074,1694251
4,"Population, Census, April 1, 2010",468730,1385108,2230722,2504700,1585873
5,Age and Sex,NaN,NaN,NaN,NaN,NaN
6,"Persons under 5 years, percent",î¡î ¿ 5.3%,î¡î ¿ 6.6%,î¡î ¿ 5.4%,î¡î ¿ 6.4%,î¡î ¿ 4.2%
7,"Persons under 18 years, percent",î¡î ¿ 21.3%,î¡î ¿ 24.3%,î¡î ¿ 19.4%,î¡î ¿ 22.1%,î¡î ¿ 14.0%
8,"Persons 65 years and over, percent",î¡î ¿ 17.4%,î¡î ¿ 14.4%,î¡î ¿ 18.0%,î¡î ¿ 15.6%,î¡î ¿ 18.4%
9,"Female persons, percent",î¡î ¿ 50.9%,î¡î ¿ 52.7%,î¡î ¿ 51.1%,î¡î ¿ 52.3%,î¡î ¿ 52.2%
10,Race and Hispanic Origin,NaN,NaN,NaN,NaN,NaN
11,"White alone, percent",î¡î ¿ 71.4%,î¡î ¿ 43.6%,î¡î ¿ 46.5%,î¡î ¿ 49.6%,î¡î ¿ 62.9%
12,"Black or African American alone, percent(a)",î¡î ¿ 11.6%,î¡î ¿ 44.3%,î¡î ¿ 20.8%,î¡î ¿ 33.2%,î¡î ¿ 18.7%
13,"American Indian and Alaska Native alone, perce...",î¡î ¿ 0.7%,î¡î ¿ 3.1%,î¡î ¿ 1.4%,î¡î ¿ 1.0%,î¡î ¿ 1.3%
14,"Asian alone, percent(a)",î¡î ¿ 13.7%,î¡î ¿ 4.8%,î¡î ¿ 27.9%,î¡î ¿ 13.2%,î¡î ¿ 13.3%
15,Native Hawaiian and Other Pacific Islander alo...,î¡î ¿ 0.1%,î¡î ¿ 0.4%,î¡î ¿ 0.2%,î¡î ¿ 0.1%,î¡î ¿ 0.2%
16,"Two or More Races, percent",î¡î ¿ 2.4%,î¡î ¿ 3.8%,î¡î ¿ 3.1%,î¡î ¿ 2.9%,î¡î ¿ 3.6%
17,"Hispanic or Latino, percent(b)",î¡î ¿ 18.8%,î¡î ¿ 56.6%,î¡î ¿ 28.2%,î¡î ¿ 18.9%,î¡î ¿ 26.2%
18,"White alone, not Hispanic or Latino, percent",î¡î ¿ 56.6%,î¡î ¿ 8.7%,î¡î ¿ 23.9%,î¡î ¿ 36.7%,î¡î ¿ 45.5%
19,Population Characteristics,NaN,NaN,NaN,NaN,NaN
20,"Veterans, 2018-2022",11522,23482,38515,33841,27778
21,"Foreign born persons, percent, 2018-2022",24.8%,33.9%,47.1%,35.3%,28.1%
22,Housing,NaN,NaN,NaN,NaN,NaN
23,"Housing units, July 1, 2022, (V2022)",184530,558005,911957,1101441,923302
24,"Owner-occupied housing unit rate, 2018-2022",68.6%,20.0%,45.2%,30.3%,24.3%
25,"Median value of owner-occupied housing units, ...","$637,100","$501,400","$677,700","$865,300","$1,104,000"
26,Median selected monthly owner costs -with a mo...,"$2,865","$2,903","$2,977","$3,359","$4,000+"
27,Median selected monthly owner costs -without a...,"$1,049",$949,"$1,042","$1,057","$1,367"
28,"Median gross rent, 2018-2022","$1,602","$1,401","$1,847","$1,715","$2,024"
29,"Building permits, 2022",392,3930,5161,9423,2584
30,Families & Living Arrangements,NaN,NaN,NaN,NaN,NaN
31,"Households, 2018-2022",170000,525387,816859,997957,772601
32,"Persons per household, 2018-2022",2.86,2.64,2.85,2.64,2.04
33,"Living in same house 1 year ago, percent of pe...",94.0%,92.0%,92.1%,90.2%,83.4%
34,"Language other than English spoken at home, pe...",34.8%,58.0%,55.4%,44.2%,38.1%
35,Computer and Internet Use,NaN,NaN,NaN,NaN,NaN
36,"Households with a computer, percent, 2018-2022",94.0%,91.6%,94.2%,91.5%,93.9%
37,Households with a broadband Internet subscript...,88.1%,83.6%,89.2%,86.3%,89.5%
38,Education,NaN,NaN,NaN,NaN,NaN
39,"High school graduate or higher, percent of per...",88.7%,74.5%,82.8%,83.8%,88.5%
40,"Bachelor's degree or higher, percent of person...",35.3%,21.2%,34.8%,40.4%,62.8%
41,Health,NaN,NaN,NaN,NaN,NaN
42,"With a disability, under age 65 years, percent...",6.5%,11.9%,5.8%,6.0%,6.8%
43,"Persons without health insurance, under age 65...",î¡î ¿ 4.9%,î¡î ¿ 8.3%,î¡î ¿ 9.6%,î¡î ¿ 7.1%,î¡î ¿ 5.4%
44,Economy,NaN,NaN,NaN,NaN,NaN
45,"In civilian labor force, total, percent of pop...",59.9%,58.3%,63.6%,63.7%,66.5%
46,"In civilian labor force, female, percent of po...",54.6%,54.7%,58.2%,60.1%,62.7%
47,"Total accommodation and food services sales, 2...",665440,1418743,4593736,4361700,27902302
48,Total health care and social assistance receip...,3540659,13367520,15735791,20989493,44469833
49,Total transportation and warehousing receipts/...,1091017,1163686,20371315,2409494,4764857
50,"Total retail sales, 2017 ($1,000)(c)",4302741,9150286,19297120,28734814,54824853
51,"Total retail sales per capita, 2017(c)","$9,043","$6,355","$8,408","$11,076","$33,587"
52,Transportation,NaN,NaN,NaN,NaN,NaN
53,"Mean travel time to work (minutes), workers ag...",43.8,44.6,43.6,42.7,31.8
54,Income & Poverty,NaN,NaN,NaN,NaN,NaN
55,"Median household income (in 2022 dollars), 201...","$96,185","$47,036","$82,431","$74,692","$99,880"
56,Per capita income in past 12 months (in 2022 d...,"$43,199","$25,845","$39,201","$43,165","$89,702"
57,"Persons in poverty, percent",î¡î ¿ 11.9%,î¡î ¿ 26.4%,î¡î ¿ 13.6%,î¡î ¿ 19.2%,î¡î ¿ 17.4%

## Demographic Characteristics

### Population Estimates (2022)

The table below provides population estimates for July 1, 2022, along with the estimates base from April 1, 2020, allowing for a comparison of population changes over time.

In [ ]:
import pandas as pd

# Load the data
dfboroughs = pd.read_csv('boroughs_data.csv')
df_population = dfboroughs.iloc[:, 1:]
df_population.head()

,Unnamed: 0,Population,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,0,"Population Estimates, July 1, 2022, (V2022)","î¡î ¿ 491,133","î¡î ¿ 1,379,946","î¡î ¿ 2,278,029","î¡î ¿ 2,590,516","î¡î ¿ 1,596,273"
1,1,"Population estimates base, April 1, 2020, (V2022)","î¡î ¿ 495,749","î¡î ¿ 1,472,656","î¡î ¿ 2,405,464","î¡î ¿ 2,736,075","î¡î ¿ 1,694,250"
2,2,"Population, percent change - April 1, 2020 (es...",î¡î ¿ -0.9%,î¡î ¿ -6.3%,î¡î ¿ -5.3%,î¡î ¿ -5.3%,î¡î ¿ -5.8%
3,3,"Population, Census, April 1, 2020",495747,1472654,2405464,2736074,1694251
4,4,"Population, Census, April 1, 2010",468730,1385108,2230722,2504700,1585873

#### Approach to Data Management:

- **Version Control:** Git version control was used to keep track of changes, facilitate productive collaboration, and preserve an unambiguous project history.
- **Data Storage:** Organized directories to facilitate easy access and replication for both raw and processed data.
- **Documentation:** Transparency and reproducibility are ensured by recording data sources, preparation steps, and analytic procedures in Markdown cells.
- **Collaboration:** Promoted teamwork by utilizing technologies that made it easy to share and update analysis and code.

#### Investigative Data Examination:
- Used Python libraries (Pandas, Matplotlib, Seaborn) to conduct thorough EDA.
- Looked for trends and connections in the distribution of restaurant ratings, cuisine categories, and pricesncy.

## Data Preparation <a id="data-preparation"></a>

#### Data Preparation:
- Addressed data integrity and usability issues identified during EDA.
- Employed Pandas for data cleaning, handling missing values, outliers, and ensuring consistency

In [ ]:
processed_data = scrape_instance.peprocessor()

## Exploratory Data Analysis (EDA) <a id="eda"></a>

In [ ]:
scrape_instance.hclustering()

In [ ]:
processed_data = scrape_instance.peprocessor()

## Prepped Data Review <a id="prepped-data-review"></a>

In [ ]:
preview = scrape_instance.modeldf.head()

## Investigative Analysis & Results <a id="investigative-analysis-results"></a>

## Conclusions <a id="conclusions"></a>

### References

××¡"×

×"×

# Kitchen Dreams

This is our official notebook for submission

Data is limited to the 5 boroughs of New York City because of the complexity of the borders between Queens and Long Island and between The Bronx and Westchester

In [ ]:

from src.restaurant_analysis.rest_analysis import Scrape
#a = Scrape('https://www.census.gov/quickfacts/fact/table/richmondcountynewyork,bronxcountynewyork,queenscountynewyork,kingscountynewyork,newyorkcountynewyork/RHI825222#RHI825222')
b = Scrape('https://www.census.gov/quickfacts/fact/table/richmondcountynewyork,bronxcountynewyork,queenscountynewyork,kingscountynewyork,newyorkcountynewyork/RHI825222#RHI825222')

In [ ]:
#create pandas dataframe object from html reader
#race = a.reader()
dfboroughs = b.reader()
dfboroughs

,Population,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,"Population Estimates, July 1, 2022, (V2022)","î¡î ¿ 491,133","î¡î ¿ 1,379,946","î¡î ¿ 2,278,029","î¡î ¿ 2,590,516","î¡î ¿ 1,596,273"
1,"Population estimates base, April 1, 2020, (V2022)","î¡î ¿ 495,749","î¡î ¿ 1,472,656","î¡î ¿ 2,405,464","î¡î ¿ 2,736,075","î¡î ¿ 1,694,250"
2,"Population, percent change - April 1, 2020 (es...",î¡î ¿ -0.9%,î¡î ¿ -6.3%,î¡î ¿ -5.3%,î¡î ¿ -5.3%,î¡î ¿ -5.8%
3,"Population, Census, April 1, 2020",495747,1472654,2405464,2736074,1694251
4,"Population, Census, April 1, 2010",468730,1385108,2230722,2504700,1585873
5,Age and Sex,NaN,NaN,NaN,NaN,NaN
6,"Persons under 5 years, percent",î¡î ¿ 5.3%,î¡î ¿ 6.6%,î¡î ¿ 5.4%,î¡î ¿ 6.4%,î¡î ¿ 4.2%
7,"Persons under 18 years, percent",î¡î ¿ 21.3%,î¡î ¿ 24.3%,î¡î ¿ 19.4%,î¡î ¿ 22.1%,î¡î ¿ 14.0%
8,"Persons 65 years and over, percent",î¡î ¿ 17.4%,î¡î ¿ 14.4%,î¡î ¿ 18.0%,î¡î ¿ 15.6%,î¡î ¿ 18.4%
9,"Female persons, percent",î¡î ¿ 50.9%,î¡î ¿ 52.7%,î¡î ¿ 51.1%,î¡î ¿ 52.3%,î¡î ¿ 52.2%
10,Race and Hispanic Origin,NaN,NaN,NaN,NaN,NaN
11,"White alone, percent",î¡î ¿ 71.4%,î¡î ¿ 43.6%,î¡î ¿ 46.5%,î¡î ¿ 49.6%,î¡î ¿ 62.9%
12,"Black or African American alone, percent(a)",î¡î ¿ 11.6%,î¡î ¿ 44.3%,î¡î ¿ 20.8%,î¡î ¿ 33.2%,î¡î ¿ 18.7%
13,"American Indian and Alaska Native alone, perce...",î¡î ¿ 0.7%,î¡î ¿ 3.1%,î¡î ¿ 1.4%,î¡î ¿ 1.0%,î¡î ¿ 1.3%
14,"Asian alone, percent(a)",î¡î ¿ 13.7%,î¡î ¿ 4.8%,î¡î ¿ 27.9%,î¡î ¿ 13.2%,î¡î ¿ 13.3%
15,Native Hawaiian and Other Pacific Islander alo...,î¡î ¿ 0.1%,î¡î ¿ 0.4%,î¡î ¿ 0.2%,î¡î ¿ 0.1%,î¡î ¿ 0.2%
16,"Two or More Races, percent",î¡î ¿ 2.4%,î¡î ¿ 3.8%,î¡î ¿ 3.1%,î¡î ¿ 2.9%,î¡î ¿ 3.6%
17,"Hispanic or Latino, percent(b)",î¡î ¿ 18.8%,î¡î ¿ 56.6%,î¡î ¿ 28.2%,î¡î ¿ 18.9%,î¡î ¿ 26.2%
18,"White alone, not Hispanic or Latino, percent",î¡î ¿ 56.6%,î¡î ¿ 8.7%,î¡î ¿ 23.9%,î¡î ¿ 36.7%,î¡î ¿ 45.5%
19,Population Characteristics,NaN,NaN,NaN,NaN,NaN
20,"Veterans, 2018-2022",11522,23482,38515,33841,27778
21,"Foreign born persons, percent, 2018-2022",24.8%,33.9%,47.1%,35.3%,28.1%
22,Housing,NaN,NaN,NaN,NaN,NaN
23,"Housing units, July 1, 2022, (V2022)",184530,558005,911957,1101441,923302
24,"Owner-occupied housing unit rate, 2018-2022",68.6%,20.0%,45.2%,30.3%,24.3%
25,"Median value of owner-occupied housing units, ...","$637,100","$501,400","$677,700","$865,300","$1,104,000"
26,Median selected monthly owner costs -with a mo...,"$2,865","$2,903","$2,977","$3,359","$4,000+"
27,Median selected monthly owner costs -without a...,"$1,049",$949,"$1,042","$1,057","$1,367"
28,"Median gross rent, 2018-2022","$1,602","$1,401","$1,847","$1,715","$2,024"
29,"Building permits, 2022",392,3930,5161,9423,2584
30,Families & Living Arrangements,NaN,NaN,NaN,NaN,NaN
31,"Households, 2018-2022",170000,525387,816859,997957,772601
32,"Persons per household, 2018-2022",2.86,2.64,2.85,2.64,2.04
33,"Living in same house 1 year ago, percent of pe...",94.0%,92.0%,92.1%,90.2%,83.4%
34,"Language other than English spoken at home, pe...",34.8%,58.0%,55.4%,44.2%,38.1%
35,Computer and Internet Use,NaN,NaN,NaN,NaN,NaN
36,"Households with a computer, percent, 2018-2022",94.0%,91.6%,94.2%,91.5%,93.9%
37,Households with a broadband Internet subscript...,88.1%,83.6%,89.2%,86.3%,89.5%
38,Education,NaN,NaN,NaN,NaN,NaN
39,"High school graduate or higher, percent of per...",88.7%,74.5%,82.8%,83.8%,88.5%
40,"Bachelor's degree or higher, percent of person...",35.3%,21.2%,34.8%,40.4%,62.8%
41,Health,NaN,NaN,NaN,NaN,NaN
42,"With a disability, under age 65 years, percent...",6.5%,11.9%,5.8%,6.0%,6.8%
43,"Persons without health insurance, under age 65...",î¡î ¿ 4.9%,î¡î ¿ 8.3%,î¡î ¿ 9.6%,î¡î ¿ 7.1%,î¡î ¿ 5.4%
44,Economy,NaN,NaN,NaN,NaN,NaN
45,"In civilian labor force, total, percent of pop...",59.9%,58.3%,63.6%,63.7%,66.5%
46,"In civilian labor force, female, percent of po...",54.6%,54.7%,58.2%,60.1%,62.7%
47,"Total accommodation and food services sales, 2...",665440,1418743,4593736,4361700,27902302
48,Total health care and social assistance receip...,3540659,13367520,15735791,20989493,44469833
49,Total transportation and warehousing receipts/...,1091017,1163686,20371315,2409494,4764857
50,"Total retail sales, 2017 ($1,000)(c)",4302741,9150286,19297120,28734814,54824853
51,"Total retail sales per capita, 2017(c)","$9,043","$6,355","$8,408","$11,076","$33,587"
52,Transportation,NaN,NaN,NaN,NaN,NaN
53,"Mean travel time to work (minutes), workers ag...",43.8,44.6,43.6,42.7,31.8
54,Income & Poverty,NaN,NaN,NaN,NaN,NaN
55,"Median household income (in 2022 dollars), 201...","$96,185","$47,036","$82,431","$74,692","$99,880"
56,Per capita income in past 12 months (in 2022 d...,"$43,199","$25,845","$39,201","$43,165","$89,702"
57,"Persons in poverty, percent",î¡î ¿ 11.9%,î¡î ¿ 26.4%,î¡î ¿ 13.6%,î¡î ¿ 19.2%,î¡î ¿ 17.4%

Only several predictors are included for analysis

In [ ]:
import pandas as pd
dfboroughs = pd.read_csv('boroughs_data.csv')
dfboroughs.head()

,Unnamed: 0,Population,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,0,"Population Estimates, July 1, 2022, (V2022)","î¡î ¿ 491,133","î¡î ¿ 1,379,946","î¡î ¿ 2,278,029","î¡î ¿ 2,590,516","î¡î ¿ 1,596,273"
1,1,"Population estimates base, April 1, 2020, (V2022)","î¡î ¿ 495,749","î¡î ¿ 1,472,656","î¡î ¿ 2,405,464","î¡î ¿ 2,736,075","î¡î ¿ 1,694,250"
2,2,"Population, percent change - April 1, 2020 (es...",î¡î ¿ -0.9%,î¡î ¿ -6.3%,î¡î ¿ -5.3%,î¡î ¿ -5.3%,î¡î ¿ -5.8%
3,3,"Population, Census, April 1, 2020",495747,1472654,2405464,2736074,1694251
4,4,"Population, Census, April 1, 2010",468730,1385108,2230722,2504700,1585873

In [ ]:
#creating a a dataframe from quering a virtual table of our scraped data. creating location variable to join with

dfboroughs.query('Population in ("Population Estimates, July 1, 2022, (V2022)", "White alone, not Hispanic or Latino, percent", "Foreign born persons, percent, 2018-2022", "Median household income (in 2022 dollars), 2018-2022"), "Median Gross Rent, 2018-2022"').copy().reset_index()

,index,Unnamed: 0,Population,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,0,0,"Population Estimates, July 1, 2022, (V2022)","î¡î ¿ 491,133","î¡î ¿ 1,379,946","î¡î ¿ 2,278,029","î¡î ¿ 2,590,516","î¡î ¿ 1,596,273"
1,18,18,"White alone, not Hispanic or Latino, percent",î¡î ¿ 56.6%,î¡î ¿ 8.7%,î¡î ¿ 23.9%,î¡î ¿ 36.7%,î¡î ¿ 45.5%
2,21,21,"Foreign born persons, percent, 2018-2022",24.8%,33.9%,47.1%,35.3%,28.1%
3,55,55,"Median household income (in 2022 dollars), 201...","$96,185","$47,036","$82,431","$74,692","$99,880"

In [ ]:
predictors =  ['Population Estimates, July 1, 2022, (V2022)', 'White alone, not Hispanic or Latino, percent', 'Foreign born persons, percent, 2018-2022', 'Median household income (in 2022 dollars), 2018-2022']

In [ ]:
dfboroughs.to_csv('boroughs_data.csv')

In [ ]:
import pandas as pd
rests = pd.read_csv('restaurants_data.csv')
rests.head()

,name,rating,price,zip_code,categories,cuisine,borough
0,Piccoli Trattoria,4.5,$$,11215,"Italian, Pasta Shops, Wine Bars",Italian,"Brooklyn, NY"
1,Osteria Brooklyn,4.5,$$$,11205,Italian,Italian,"Brooklyn, NY"
2,Barbalu - Brooklyn,4.5,Not Available,11201,"Italian, Pizza, Bars",Italian,"Brooklyn, NY"
3,Cent'Anni,4.0,$$,11238,Italian,Italian,"Brooklyn, NY"
4,AmmazzacaffÃ¨,4.5,$$,11211,"Cocktail Bars, Italian, Wine Bars",Italian,"Brooklyn, NY"

In [ ]:
manhattan_zip_codes = ['10001', '10002', '10003', '10004', '10005',
    '10006', '10007', '10009', '10010', '10011',
    '10012', '10013', '10014', '10016', '10017',
    '10018', '10019', '10020', '10021', '10022',
    '10023', '10024', '10025', '10026', '10027',
    '10028', '10029', '10030', '10031', '10032',
    '10033', '10034', '10035', '10036', '10037',
    '10038', '10039', '10040', '10128', '10280']

brooklyn_zip_codes = ['11201', '11203', '11204', '11205', '11206',
    '11207', '11208', '11209', '11210', '11211',
    '11212', '11213', '11214', '11215', '11216',
    '11217', '11218', '11219', '11220', '11221',
    '11222', '11223', '11224', '11225', '11226',
    '11228', '11229', '11230', '11231', '11232',
    '11233', '11234', '11235', '11236', '11237',
    '11238', '11239', '11249']

queens_zip_codes = ['11001', '11004', '11101', '11102', '11103',
    '11104', '11105', '11106', '11354', '11355',
    '11356', '11357', '11358', '11359', '11360',
    '11361', '11362', '11363', '11364', '11365',
    '11366', '11367', '11368', '11369', '11370',
    '11371', '11372', '11373', '11374', '11375',
    '11377', '11378', '11379', '11385', '11411',
    '11412', '11413', '11414', '11415', '11416',
    '11417', '11418', '11419', '11420', '11421',
    '11422', '11423', '11426', '11427', '11428',
    '11429', '11430', '11432', '11433', '11434',
    '11435', '11436', '11691', '11692', '11693',
    '11694', '11697']

staten_island_zip_codes = ['10301', '10302', '10303', '10304', '10305',
    '10306', '10307', '10308', '10309', '10310',
    '10311', '10312', '10314']

bronx_zip_codes = ['10451', '10452', '10453', '10454', '10455',
    '10456', '10457', '10458', '10459', '10460',
    '10461', '10462', '10463', '10464', '10465',
    '10466', '10467', '10468', '10469', '10470',
    '10471', '10472', '10473', '10474', '10475']

In [ ]:
rests['where'] = rests.apply(lambda row: 'Manhattan' if str(row['zip_code']).strip() in manhattan_zip_codes
else ('Brooklyn' if str(row['zip_code']).strip() in brooklyn_zip_codes
else ('Queens' if str(row['zip_code']).strip() in queens_zip_codes
else ('The Bronx' if str(row['zip_code']).strip() in bronx_zip_codes
else ('Staten Island' if str(row['zip_code']).strip() in staten_island_zip_codes
else 'other')))), axis=1)

In [ ]:
rests = rests[rests['where'] != 'other'].reset_index(drop=True)

(116, 8)

In [ ]:
rests = rests[rests['price'] != 'Not Available'].reset_index(drop=True)

In [ ]:
rests['price'] = rests['price'].apply(lambda x: '1' if x == '$' else ('2' if x == '$$' else ('3' if x == '$$$' else '0')))

In [ ]:
rests[rests['where'] == 'other']

Empty DataFrame
Columns: [name, rating, price, zip_code, categories, cuisine, borough, where]
Index: []

In [ ]:
rests.shape

(650, 8)

In [ ]:
rests.drop('borough', axis = 1, inplace = True)

In [ ]:
rests.rename(columns = {'where': 'borough'}, inplace = True)

In [ ]:
rests.to_csv('combined_rests_data.csv')

In [ ]:
rests['medincome'] = rests.apply(lambda row: 47036 if row['borough'] == 'The Bronx' else(
        82431 if row['borough'] == 'Queens' else(
                96185 if row['borough'] == 'Staten Island' else(
                        74692 if row['borough'] == 'Brooklyn' else(
                                99880 if row['borough'] == 'Manhattan' else 0)))), axis = 1)

rests['population'] = rests.apply(lambda row: 1379946 if row['borough'] == 'The Bronx' else(
    2278029 if row['borough'] == 'Queens' else(
        491133 if row['borough'] == 'Staten Island' else(
            2590516 if row['borough'] == 'Brooklyn' else(
                1596273 if row['borough'] == 'Manhattan' else 0)))), axis = 1)

rests['foreign born persons pct'] = rests.apply(lambda row: 33.9 if row['borough'] == 'The Bronx' else(
        47.1 if row['borough'] == 'Queens' else(
                24.8 if row['borough'] == 'Staten Island' else(
                        35.3 if row['borough'] == 'Brooklyn' else(
                                28.1 if row['borough'] == 'Manhattan' else 0)))), axis = 1)

rests['whitenolatino'] = rests.apply(lambda row: 8.7  if row['borough'] == 'The Bronx' else(
    23.9 if row['borough'] == 'Queens' else(
        8.7 if row['borough'] == 'Staten Island' else(
            36.7 if row['borough'] == 'Brooklyn' else(
                45.5 if row['borough'] == 'Manhattan' else 0)))), axis = 1)

In [ ]:
rests.to_csv('combined_rests_data.csv')